<%- include('partials/header') %>

<div class="homeDiv">
  <img src="images/logo.png" alt="" width="300px" />
  <h1>Cropshree Lifesciences Pvt. Ltd.</h1>
  <p>Leading Manufacturer of agrochemicals in India</p>
  <a class="btn btn-dark btn-lg" href="/login" role="button">Admin Login</a>
</div>

<%- include('partials/footer') %>
