<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin Panel</title>
    <link rel="stylesheet" href="/css/logout.css" />
    <title>Logout Confirmation</title>
  </head>
  <body>
    <div class="logout-container">
      <img src="images/logo.png" alt="" width="100px" />
      <h2>Are you sure you want to logout?</h2>
      <div class="logout-buttons">
        <a href="/logout" class="btn confirm-btn">Yes, Logout</a>
        <a href="/dashboard" class="btn cancel-btn">No, Go Back to Dashboard</a>
        <!-- <a onclick="window.history.back()" class="btn-cancel">Cancel</a> -->
      </div>
    </div>
  </body>
</html>
